Sources/modules/modFileAccess.bas
Sources/tbldefs/aTC.sql
Sources/tbldefs/aTC.xml
Sources/tbldefs/aTO.sql
Sources/tbldefs/aTO.xml
Sources/tbldefs/aTT.sql
Sources/tbldefs/aTT.xml
Sources/modules/A_CTest.cls
Sources/modules/A_Test.bas
*.log
Sources/Export.log
Sources/proj-properties.json
Sources/queries/%22T_Objets%22 et %22T_ObjetChilds%22 sans correspondance.bas
Sources/queries/%22T_Objets%22 et %22T_ObjetChilds%22 sans correspondance.sql
Sources/modules/clsOptionGroup.cls
Sources/modules/clsOptionbutton.cls
Sources/forms/a_test.bas
Sources/modules/A_TestTbl.bas
Sources/tbldefs/aTParam.sql
Sources/tbldefs/aTParam.xml
CodePays.xlsx
CommandBars.csv
CommandBars.xlsx
Contraintes.txt
testhtml.txt
Trad-Access.accdb
Trad-Access.Tasks.xml
Trad-AccessV1.accdb
changelog.txt
Doc/Images/Image0.png
Doc/Images/Image18.png
Doc/Images/Image19.png
Doc/Images/Image20.png
Doc/Images/Image21.png
Doc/Images/Image22.png
Doc/Images/Image24.png
Doc/Images/Image25.png
Doc/Images/Image27.png
Doc/Images/Image28.png
Doc/Images/Image29.png
Doc/Images/Image31.png
Doc/Images/Image34.png
Doc/Images/Image46.png
Doc/Images/Image47.png
Doc/Images/Image48.png
Doc/Images/Image49.png
Sources/modules/StringBuilder.cls
Sources/modules/StringUtils.bas
SourcesV1/dbs-properties.json
SourcesV1/documents.json
SourcesV1/nav-pane-groups.json
SourcesV1/proj-properties.json
SourcesV1/project.json
SourcesV1/vbe-project.json
SourcesV1/vbe-references.json
SourcesV1/vcs-index.json
SourcesV1/vcs-options.json
SourcesV1/forms/aa-Test.bas
SourcesV1/forms/F_InfoRecap.bas
SourcesV1/forms/F_Langues.bas
SourcesV1/forms/F_Main.bas
SourcesV1/forms/F_MainSFControles.bas
SourcesV1/forms/F_MainSFTextes.bas
SourcesV1/forms/F_Options.bas
SourcesV1/forms/F_Recap.bas
SourcesV1/forms/F_RecapSFC.bas
SourcesV1/forms/F_RecapSFO.bas
SourcesV1/forms/F_RecapSFT.bas
SourcesV1/forms/F_Trad.bas
SourcesV1/forms/F_TradSFOrg.bas
SourcesV1/modules/A_CTest.cls
SourcesV1/modules/A_Test.bas
SourcesV1/modules/C_LabelsInfo.cls
SourcesV1/modules/C_ObjetsAccess.cls
SourcesV1/modules/C_TradScanText.cls
SourcesV1/modules/MD_DBProp.bas
SourcesV1/modules/MD_FSO.bas
SourcesV1/modules/MD_TradUtils.bas
SourcesV1/modules/MD_Utils.bas
SourcesV1/modules/modFileAccess.bas
SourcesV1/queries/a_NonMisAJour.bas
SourcesV1/queries/a_NonMisAJour.sql
SourcesV1/queries/R_F_MainSFControles.bas
SourcesV1/queries/R_F_MainSFControles.sql
SourcesV1/queries/R_F_MainSFTextes.bas
SourcesV1/queries/R_F_MainSFTextes.sql
SourcesV1/queries/R_MainTradOrg.bas
SourcesV1/queries/R_MainTradOrg.sql
SourcesV1/queries/RL_Apps.bas
SourcesV1/queries/RL_Apps.sql
SourcesV1/queries/RL_Langues.bas
SourcesV1/queries/RL_Langues.sql
SourcesV1/relations/T_AppT_Objets.json
SourcesV1/relations/T_LanguesT_TradTexte.json
SourcesV1/relations/T_ObjetControlesT_TradTexte.json
SourcesV1/relations/T_ObjetsT_ObjetControles.json
SourcesV1/tables/T_Langues.xml
SourcesV1/tbldefs/T_App.sql
SourcesV1/tbldefs/T_App.xml
SourcesV1/tbldefs/T_Guid.sql
SourcesV1/tbldefs/T_Guid.xml
SourcesV1/tbldefs/T_Langues.sql
SourcesV1/tbldefs/T_Langues.xml
SourcesV1/tbldefs/T_ObjetControles.sql
SourcesV1/tbldefs/T_ObjetControles.xml
SourcesV1/tbldefs/T_Objets.sql
SourcesV1/tbldefs/T_Objets.xml
SourcesV1/tbldefs/T_TradTexte.sql
SourcesV1/tbldefs/T_TradTexte.xml
SourcesV1/themes/Thème Office.thmx
StringUtils/Changes.txt
StringUtils/StringBuilder.cls
StringUtils/StringUtils.bas
Test/Properties.cvs
tmp/TradAccess.Properties.cvs
Trad-Access.laccdb
